autobahn==21.2.1
cbor==1.0.0
cbor2==5.2.0
cffi==1.14.5
cryptography==3.4.6
flatbuffers==1.12
hyperlink==21.0.0
idna==3.1
msgpack==1.0.2
py-ubjson==0.16.1
pycparser==2.20
PyYAML==5.4.1
txaio==20.12.1
ujson==4.0.2
websockets==8.1
